:plain
  $('#new_milestone').modal('hide');
  $.achtung({message: 'Milestone was successfully created!', timeout: 3, className: "achtungSuccess"});
  $('#milestones').append("#{j render @project.milestones.last }") 

