= simple_form_for([@project, @milestone], :html => {:class => "form-vertical"}) do |f|
  = render :partial => "form", :locals => { :f => f }
  = link_to "Back", settings_milestones_project_path(@project)
  = f.button :submit, "Save", :class => "btn btn-success"
