%h2 Add members
= render layout: 'form' do |f|
  .form-controls
    - User.not_admins.each do |user|
      = label_tag(dom_id(user), :class => "checkbox") do
        = check_box_tag("project[user_ids][]", user.id, false, id: dom_id(user)) << user

     
= @project.errors.full_messages
