.hero-unit
  %h1 Project Management System
  %p Welcome to APIIT academic roject management website.
  %p
    %a.btn.btn-primary.btn-large Learn more
    = link_to "Sign up", new_user_registration_path, :class => "btn btn-success btn-large"
