:plain
  $('#new_group').modal('hide');
  $.achtung({message: 'Group was successfully created!', timeout: 3, className: "achtungSuccess"});
  setTimeout(function(){
    window.location.reload()}, 3000);
