%table.table.table-striped#groups
  %thead
    %tr
      %th Title
      %th
  %tbody
    -@groups.each do |group|
      %tr{:class => "group_#{group.id}"}
        %td= group.title
        %td
          = link_to(edit_project_group_path(:project_id => @project, :id => group), :remote => true) { content_tag(:i, "", :class => "icon-pencil icon-white") << " Edit" }
          |            
          = link_to(project_group_path(:project_id => @project, :id => group), :confirm => 'are you sure?', :method => :delete, :remote => true) { content_tag(:i, "", :class => "icon-trash icon-white") << " Delete"}
