=simple_form_for(current_user.relationships.build(followed_id: @user.id)) do |f|
  =f.input :followed_id, :as => :hidden
  =f.button :submit, :value => "Follow", :class => "btn btn-small btn-primary"
