#details.well
  =link_to " Edit details", edit_user_path(@user), :class => "btn btn-success icon-pencil"
  %br
  %br
  %h2 Account details
  -present @user do |user_presenter|
    =user_presenter.profile_picture
    %h3=user_presenter.homepage
    %dl
      %dt Student Name:
      %dd=user_presenter.name
      %dt Student Number:
      %dd=user_presenter.number
      %dt Intake:
      %dd=user_presenter.intake
      %dt Facebook:
      %dd=user_presenter.facebook
      %dt Twitter:
      %dd=user_presenter.twitter
      %dt MSN:
      %dd=user_presenter.msn
      %dt Skype:
      %dd= user_presenter.skype
      %dt Email:
      %dd=user_presenter.email
