=render 'common/project_tabs'
.row
  .span12
    #news.well
      %h3 Update
      = simple_form_for([@project, @news], :html => { :class => "form-horizontal", :multipart => true }) do |f|
        = render :partial => 'news/form', :locals => { :f => f }
        .form-actions
          = link_to "Cancel", project_news_index_path(@project), :class => "btn"
          = f.button :submit, "Update", :class => "btn-success"
