=render 'common/project_tabs'
#row
  .span3
    =render 'common/settings_nav'
  .span8
    #settings
      =render :partial => 'members/index', :locals => { :members => @project.members }
      =link_to "Add", project_members_path(@project), :class => "btn btn btn-success"
