=render 'common/project_tabs'
#row
  .span3
    =render 'common/settings_nav'
  .span8
    #settings
      =render :template => 'milestones/index', :object => @milestones
      =link_to " New milestone", new_project_milestone_path(:project_id => @project), :class => "btn btn-success icon-plus-sign", :remote => true
