=render 'common/project_tabs'
#row
  .span3
    =render 'common/settings_nav'
  .span8
    #settings
      =render :template => 'roles/index', :object => @roles
      =link_to " Add new role", new_project_role_path(:project_id => @project), :class => "btn btn-success icon-plus-sign", :remote => true
