=render 'common/project_tabs'
.row
  .span12
    #app_pad
      %table.table#documents
        %thead
          %tr
            %th Title
            %th Type
            %th Source
        %tbody
          -@documents.each do |document|
            %tr{:class => "document_#{document.id}"}
              %td= link_to document.documentable.title, project_document_path(@project, :id => document), :remote => true
              %td= document.documentable_type
              - if document.documentable_type == "Activity"
                %td= document.documentable.phase.title
              - else
                %td -
