#navbar
  %h1 Projects
  #contextual
    =link_to "New project", new_project_path, :class => "btn btn-success"
#project_list
  %ul
    - @projects.each do |project|
      %li.project= link_to project.name, project_path(project)
