.row
  .span6.offset3
    #project-list
      %ul.unstyled
        - @projects.each do |project|
          %li.project
            %h2= link_to project.name, project_path(project)
            .project_details_header Intake:
            %h4= project.intake
      = link_to "New project", new_project_path, :id => "new-project-button"
