- content_for(:content) do
  - case params[:action]
  - when /members/
    - render(:partial => 'members/index', :locals => { :members => @project.members } )
  -when /information/
    - render(:partial => 'projects/edit', :object => @project)
=render 'common/project_tabs'
#settings
  #row
    =render 'common/settings_nav'
    .span8
      =yield :content
