=render 'common/project_tabs'
.row
  .span12
    #project
      .span5
        %h4 Tasks tracking
      .span5
        %h4 Members
        %ul
          - @project.members.each do |member|
            %li
              %em= member.roles.first
              = link_to member, project_member_path(:project_id => @project, :id => member)
.row
  .span12
    =simple_format(@project.description)
