=render 'common/project_tabs'
.row
  .span12
    #project
      .span5
        %h4 Tasks tracking
      .span5
        %h4 Members
        %ul
          - @project.members.each do |member|
            %li
              = link_to member, user_path(:id => member.user_id)
.row
  .span12
    =simple_format(@project.description)
