%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Assignee
      %th
  %tbody
    - issue_categories.each do |issue_category|
      %tr
        %td= issue_category.name
        %td= issue_category.assigned_to
        %td
          = link_to ' Edit | ', edit_project_issue_category_path(:project_id => issue_category.project, :id => issue_category), :class => "icon-pencil"
          = link_to ' Delete', project_issue_category_path(:project_id => issue_category.project, :id => issue_category), :method => :delete, :class => 'icon-trash'
