%table.table.table-striped#roles
  %thead
    %tr
      %th Name
      %th
  %tbody
    -@roles.each do |role|
      %tr{:class => "role_#{role.id}"}
        %td= role.name
        %td
          = link_to(edit_project_role_path(:project_id => @project, :id => role), :remote => true) { content_tag(:i, "", :class => "icon-pencil icon-white") << " Edit" }
          |            
          = link_to(project_role_path(:project_id => @project, :id => role), :confirm => 'Are you sure?', :method => :delete, :remote => true) { content_tag(:i, "", :class => "icon-trash icon-white") << " Delete"}
