:plain
  $('#edit_role').modal('hide');
  $.achtung({message: 'Role was successfully updated!', timeout: 3, className: "achtungSuccess"});
  setTimeout(function(){
    window.location.reload()}, 2000);
