%table.table
  %thead
    %tr
      %th Name
      %th Active
  %tbody
    - time_entry_activities.each do |activity|
      %tr
        %td= activity.name
        %td= check_box_tag activity.active, "", checked: activity.active
