@import "normalize";
@import "bourbon";
@import "bootstrap_and_overrides";
@import "users";
@import "ui.achtung"; 
@import "datepicker";
@import "event_calendar";
@import "messages";
@import "jquery_ui";
@import "phases";
@import "activities";
@import "uniform.default";
@import "projects";

@mixin icon($width: 20px, $height: 25px, $url: ''){
  background-image: url($url);
  background-repeat: no-repeat;
  height: $height;
  width: $width;
  padding-left: 27px;
  overflow: hidden;

  /* half transparent */
  -khtml-opacity:.50;
  -moz-opacity:.50;
  -ms-filter:”alpha(opacity=50)”;
  filter:alpha(opacity=50);
  opacity:.50;
  /* more opaque on hover */
  &:hover {
    -khtml-opacity:.80;
    -moz-opacity:.80;
    -ms-filter:”alpha(opacity=80)”;
    filter:alpha(opacity=80);
    opacity:.80;
  }
}

a{
  &:hover{
    text-decoration:none;
  }
  &.notes-icon { 
    @include icon(20px, 25px, 'glyphicons/glyphicons_039_notes.png');
  }
  &.rss-icon {
    @include icon(20px, 25px, 'glyphicons/glyphicons_397_rss.png');
  }
  &.group-icon {
    @include icon(4px, 4px, 'glyphicons/glyphicons_043_group.png');
  }
}

.line{
  border-bottom: 1px solid #ccc;
  padding:24px;
  h4{
    margin-bottom: 10px;
  }
}

textarea{
  width: 70%;
  height: 100px;
}

footer{
  margin-top: 300px;
}

.project_details_header{
  margin-top: 5px;      
  margin-bottom: 5px;
  border-bottom: 1px dotted #808080;
}
