@import "normalize";
@import "bourbon";
@import "bootstrap_and_overrides";
@import "users";
@import "ui.achtung"; 
@import "datepicker";
@import "event_calendar";
@import "messages";
@import "jquery_ui";
@import "phases";
@import "activities";
@import "uniform.default";
@import "projects";

@mixin icon($width: 20px, $height: 25px, $url: ''){
  background-image: url($url);
  background-repeat: no-repeat;
  height: $height;
  width: $width;
  padding-left: 27px;
  overflow: hidden;

  /* half transparent */
  -khtml-opacity:.50;
  -moz-opacity:.50;
  -ms-filter:”alpha(opacity=50)”;
  filter:alpha(opacity=50);
  opacity:.50;
  /* more opaque on hover */
  &:hover {
    -khtml-opacity:.80;
    -moz-opacity:.80;
    -ms-filter:”alpha(opacity=80)”;
    filter:alpha(opacity=80);
    opacity:.80;
}
}

a{
  &:hover{
    text-decoration:none;
}
&.notes-icon { 
  @include icon(20px, 25px, 'glyphicons/glyphicons_039_notes.png');
}
&.rss-icon {
  @include icon(20px, 25px, 'glyphicons/glyphicons_397_rss.png');
}
&.group-icon {
  @include icon(4px, 4px, 'glyphicons/glyphicons_043_group.png');
}
}

.line{
  border-bottom: 1px solid #ccc;
  padding:24px;
  h4{
    margin-bottom: 10px;
}
}

textarea{
  width: 70%;
  height: 100px;
}

footer{
  margin-top: 300px;
}

.project_details_header{
  margin-top: 5px;      
  margin-bottom: 5px;
  border-bottom: 1px dotted #808080;
}

#circularG{
  display:none;
  position:relative;
  width:64px;
  height:64px}

.circularG{
  position:absolute;
  background-color:#3f4be9;
  width:15px;
  height:15px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -webkit-animation-name:bounce_circularG;
  -webkit-animation-duration:1.04s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:linear;
  -moz-animation-name:bounce_circularG;
  -moz-animation-duration:1.04s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-direction:linear;
  border-radius:10px;
  -o-animation-name:bounce_circularG;
  -o-animation-duration:1.04s;
  -o-animation-iteration-count:infinite;
  -o-animation-direction:linear;
  -ms-animation-name:bounce_circularG;
  -ms-animation-duration:1.04s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-direction:linear;
}

#circularG_1{
  left:0;
  top:25px;
  -webkit-animation-delay:0.39s;
  -moz-animation-delay:0.39s;
  -o-animation-delay:0.39s;
  -ms-animation-delay:0.39s;
}

#circularG_2{
  left:7px;
  top:7px;
  -webkit-animation-delay:0.52s;
  -moz-animation-delay:0.52s;
  -o-animation-delay:0.52s;
  -ms-animation-delay:0.52s;
}

#circularG_3{
  top:0;
  left:25px;
  -webkit-animation-delay:0.65s;
  -moz-animation-delay:0.65s;
  -o-animation-delay:0.65s;
  -ms-animation-delay:0.65s;
}

#circularG_4{
  right:7px;
  top:7px;
  -webkit-animation-delay:0.78s;
  -moz-animation-delay:0.78s;
  -o-animation-delay:0.78s;
  -ms-animation-delay:0.78s;
}

#circularG_5{
  right:0;
  top:25px;
  -webkit-animation-delay:0.9099999999999999s;
  -moz-animation-delay:0.9099999999999999s;
  -o-animation-delay:0.9099999999999999s;
  -ms-animation-delay:0.9099999999999999s;
}

#circularG_6{
  right:7px;
  bottom:7px;
  -webkit-animation-delay:1.04s;
  -moz-animation-delay:1.04s;
  -o-animation-delay:1.04s;
  -ms-animation-delay:1.04s;
}

#circularG_7{
  left:25px;
  bottom:0;
  -webkit-animation-delay:1.1700000000000002s;
  -moz-animation-delay:1.1700000000000002s;
  -o-animation-delay:1.1700000000000002s;
  -ms-animation-delay:1.1700000000000002s;
}

#circularG_8{
  left:7px;
  bottom:7px;
  -webkit-animation-delay:1.3s;
  -moz-animation-delay:1.3s;
  -o-animation-delay:1.3s;
  -ms-animation-delay:1.3s;
}

@-webkit-keyframes bounce_circularG{
  0%{
    -webkit-transform:scale(1)}

  100%{
    -webkit-transform:scale(.3)}

}

@-moz-keyframes bounce_circularG{
  0%{
    -moz-transform:scale(1)}

  100%{
    -moz-transform:scale(.3)}

}

@-o-keyframes bounce_circularG{
  0%{
    -o-transform:scale(1)}

  100%{
    -o-transform:scale(.3)}

}

@-ms-keyframes bounce_circularG{
  0%{
    -ms-transform:scale(1)}

  100%{
    -ms-transform:scale(.3)}

}
