// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#calendar{
  table{
    border-collapse: collapse;
    width: 100%;
  }
  th{
    font-family: "Lucida Grande", arial,helvetica,sans-serif;
    font-size: 10px;
    padding: 6px;
    border: 1px solid #999;
    background: #DDD;
    color: #666;
    text-align: center;
    width: 14.285714285714%;
  }
  td{
    font-family: "Lucida Grande", arial,helvetica,sans-serif;
    font-size: 10px;
    padding: 6px;
    border: 1px solid #999;
    background: #FFF;
    color: #777;
    height: 80px;
    vertical-align: top;
    font-size: 16px;
  }
  .nonmonth{
    color: #ccc;
  }
  #month{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    a,
    a:hover{
      text-decoration: none;
      padding: 0 10px;
      color: #999;
    }
  }
  .today{
    background-color: #d7f2ff;
  }
  ul{
    margin: 0px;
    margin-top: 5px;
    padding: 0;
    list-style: none;
    a{
      color: #FF0000;
    }
  }
  li{
    margin: 0;
    padding: 0;
    font-size: 11px;
    text-align: center;
    a{
      color: #EE0000;
    }
  }
}
