// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sign{
  text-align: center;
  .btn-sign{
    @include button(simple, #3FB344);
    font-size: 16px;
  }
}

.added_by{
  font-size: 12px;
}

.user{
  margin-top: 30px;
  li{
    padding-bottom: 10px;
  }
}

#user{
  td{
    vertical-align: top;
    padding-left: 10px;
  }
}
