:plain
  $('#appointments tr.appointment_#{@appointment_id}').hide('fast', function(){this.remove();});
  $.achtung({message: 'Appointment was successfully deleted!', timeout: 3, className: "achtungSuccess"});
