=render 'common/project_tabs'
#row
  .span12
    #appointment
      = simple_form_for([@project, @appointment], :html => {:class => "form-vertical"}) do |f|
        = render :partial => "form", :locals => { :f => f }
        = link_to "Back", project_appointments_path(@project)
        = f.button :submit, "Update", :class => "btn btn-success"
