- present activity do |activity_presenter|
  %tr
    %td
      = link_to activity_presenter.title, project_phase_activity_path(@project, @phase, activity)
    %td
      = activity_presenter.days_left
