=render 'common/project_tabs'
.row
  .span12#activities
    %h3 Activity
    .span4.well
      %h4 Issues
      -@issues.each do |issue|
        =render :partial => "common/activities", :locals => { :activities => issue.activities } if issue.activities
