.
    = @phase.title
  %h3
    List of Activities
  #activities
    %table.table.table-striped
      %thead
        %tr
          %th
            Title
          %th
            Members
          %th
      %tbody
        - @activities.each do |activity|
          %tr
            %td
              = link_to activity.title, project_phase_activity_path(:project_id => @project, :phase_id => @phase, :id => activity)
            %td
            %td
              = link_to "Edit", edit_project_phase_activity_path(:project_id => @project, :phase_id => @phase, :id => activity), :class => "btn btn-mini btn-info"
              = link_to "Delete", project_phase_activity_path(:project_id => @project, :phase_id => @phase, :id => activity), :class => "btn btn-mini btn-danger", :method => :delete
