=render 'common/project_tabs'
.row
  = link_to " Back to current phase", project_phase_activities_path(:project_id => @project, :phase_id => @phase), :class => "icon-arrow-left"
  %h3
    Activity:
    = @activity.title
  %h3 Tasks
  = render @activity.tasks

  = link_to " Add Task", new_project_phase_activity_task_path(:project_id => @project, :phase_id => @phase, :activity_id => @activity), :class => "btn btn-success icon-plus-sign"
