#row
  .span12
    %ul.nav.nav-tabs
      %li{:class => is_active?("show")} #{ link_to(@project) { content_tag(:i, "", :class => "icon-home") << "Overview" }}
      %li{:class => params[:controller] == "settings" ? "active" : "" } #{ link_to(settings_information_project_path(@project)) { content_tag(:i, "", :class => "icon-cog") << "Settings" }}
