-@user ||= current_user

#stats
  = link_to following_user_path(@user) do
    %strong{:id => "following", :class => "stat"} #{ @user.followed_users.count }
    following

  =link_to followers_user_path(@user) do
    %strong{:id => "followers", :class => "stat"} #{ @user.followers.count }
    followers
