%table.table.table-striped#members
  %thead
    %tr
      %th User
      %th
  %tbody
    -members.each do |member|
      %tr{ :class => "member_#{member.id}"}
        %td= member.user
        %td
          = link_to(edit_project_member_path(:project_id => @project, :id => member), :remote => true) { content_tag(:i, "", :class => "icon-pencil icon-white") << " Edit" }
          | 
          = link_to(project_member_path(:project_id => @project, :id => member), :confirm => 'Are you sure?', :method => :delete, :remote => true) { content_tag(:i, "", :class => "icon-trash icon-white") << " Delete"}
