= simple_form_for([@project, @member]) do |f|
  =render :partial => "members/form", :locals => { :f => f }
  =f.button :submit, :value => " Update", :class => "btn btn-success"
  =link_to "Cancel", settings_members_project_path(@project)
