#add_member
  =simple_form_for(project_path(@project), :html => { :class => "form-horizontal" }) do |f|
    -@users.each do |user|
      .controls
        =label_tag(dom_id(user), :class => "checkbox") do
          =check_box_tag("project[user_ids][]", user.id, @project.member_ids.include?(user.id), id: dom_id(user)) << user
    =f.button :submit, :value => "add"
    =link_to "cancel", settings_members_project_path(@project)
