%h1 Members

#members
  %table
    %tr
      %th User
      %th Roles
      %th
    - @members.each do |member|
      %tr
        %td= member.user.email
        %td= member.roles
        %td= link_to 'Delete', project_members_path(member), :confirm => 'Are you sure?', :method => :delete
